<div a_id="{{answer.id}}" class="answer_block">
    <div class="row answer_block border border-{%if answer.is_correct %}success{% else %}dark{% endif %} border-5 bg-dark text-light mx-1 my-1 px-2 py-2 rounded-3">
      <div class="col-sm-auto" style="width: 18%">
        <img src="{{answer.user.avatar.url}}" class="border border-white border-3" alt="{{answer.user.nick}}" width="100%" height="auto">
        <div class="row my-2 mx-1 gap-2">
          <button onclick='like.call(this)' a_id="{{answer.id}}" class="d-flex btn btn-danger btn-sm px-0" {%if not username %} disabled {% endif %} data-toggle="tooltip" data-placement="right" title="{{answer.likes.count}}">
            <span class="ms-auto me-auto">❤️</span>
          </button>
          <input {%if not quest.user.user.username == username %}disabled{%endif%} type="checkbox" class="btn-check" a_id="{{answer.id}}" onclick="set_correct.call(this)" id="btn-check-2-{{answer.id}}-outlined" {% if answer.is_correct %}checked{% endif %} autocomplete="off">
          <label {%if not quest.user.user.username == username %}disabled{%endif%} class="btn btn-outline-success" for="btn-check-2-{{answer.id}}-outlined">✓</label>
        </div>
      </div>
      <div class="col-lg-auto border-start border-white" style="width:82%">
        <div class="d-flex flex-column h-100">
          <div class="col align-self-stretch ms-2">
            <div class="row"><p>{{answer.text}}</p></div>
          </div>
          <div class='row'>
            <div class="mt-1 mb-2">Опубликовано: <b>{{ answer.created|date:"Y/m/d H:i:s" }}</b></div>
          </div>
        </div>
      </div>
    </div>
</div>