<div a_id="{{answer.id}}" class="answer_block">
    <div class="row answer_block border border-{%if answer.is_correct %}success{% else %}dark{% endif %} border-5 bg-dark text-light mx-1 my-1 px-2 py-2 rounded-3">
      <div class="d-flex flex-column justify-content-center" style="width: 18%">
        <a class="align-self-center d-flex justify-content-center mt-auto" href="{% url 'profile' %}?id={{answer.user.user.id}}">
          <img src="{{answer.user.avatar.url}}" class="align-self-center border border-white border-3" alt="{{answer.user.nick}}" width="70%" height="auto">
        </a>
        <div class="row my-2 mx-1 gap-2">
          {% include "buttons.html" with obj=answer like_button_tt=True%}
          {%if quest.user.user.username == username %}
            <input type="checkbox" class="btn-check d-none" a_id="{{answer.id}}" onclick="set_correct.call(this)" id="btn-check-2-{{answer.id}}-outlined" {% if answer.is_correct %}checked{% endif %} autocomplete="off">
            <label class="btn btn-outline-success" for="btn-check-2-{{answer.id}}-outlined">👌</label>
          {%endif%}
        </div>
      </div>
      <div class="col-lg-auto border-start border-white" style="width:82%">
        <div class="d-flex flex-column h-100">
          <div class="col align-self-stretch ms-2">
            <div class="row"><p>{{answer.text}}</p></div>
          </div>
          <div class='row'>
            <div class="mt-1 mb-2">Опубликовано: <b>{{ answer.created|date:"Y/m/d H:i:s" }}</b></div>
          </div>
        </div>
      </div>
    </div>
</div>