{% extends 'base.html' %}
{% block head%}
<title>{{SITE_TITLE}} - Вопросы</title>
{%endblock%}
{% block content %}
<div class="col rounded-3">
  <div class="d-flex ms-2 me-2 mt-2">
    <h2 class="align-item-center text-center ms-auto me-auto">{{title}}</h2>
    {% if not 'hot' in request.path %}
    <a href="{% url 'hot' %}" class="text-decoration-none">🔥</a>
    {% endif %}
  </div>
  {% if not quests %}
    <div class="d-flex justify-content-center h-75 align-items-stretch align-text-bottom rounded-3 bg-dark text-light text-center mt-2"><h3 class="align-self-center">Нет вопросов :(</h3></div>
  {% else %}
  {% for quest in quests %}
    {%include "block_question.html" with show_answers=True%}
  {% endfor %}
  {% endif %}
</div>

{%include "paginator.html" with objs=quests%}

{% endblock %}