{% extends 'base.html' %}
{% block head%}
<title>{{SITE_TITLE}} - Вопросы</title>
{%endblock%}
{% block content %}
<div class="col shadow bg-dark text-light border border-dark bordermx-1 my-1 px-2 py-2 rounded-3">
  {%include "block_question.html"%}
  {% if username %}
    <div class="row p-0 m-0">
      <a class="btn btn-success mt-2" data-bs-toggle="collapse" href="#add_q_form" role="button" aria-expanded="false" aria-controls="add_q_form">
        Добавить ответ
      </a>
    </div>
  {% endif %}

  {% if username %}
    <div id="add_q_form" class="col border border-5 border-dark rounded-3 mt-3 collapse">
        <form action="{% url 'question' id=quest.id %}" onsubmit='post_form.call(this, event)' method="post">
          {% csrf_token %}
          <div class="form-outline mb-2">
            {{form.text}}
          </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Ответить</button>
            </div>
        </form>
    </div>
  {% endif %}
</div>

<!-- if not answers  -->
<!-- <h4 class="text-center mt-2">Нет ответов :(</h4> -->
{% if answers %}
<div id="answers_block">
  {% for answer in answers %}
    {%include "block_answer.html"%}
  {% endfor %}
</div>
{% endif %}

{%include "paginator.html" with objs=answers%}

{% endblock %}